# ------------------
# Standard Android
# ------------------
# Android Studio / IntelliJ
*.iml
.idea/
workspace.xml
tasks.xml
gradle.xml

# Gradle
.gradle/
build/
*/build/

# Local configuration (SDK path, etc)
local.properties
/local.properties

# Built application files
*.apk
*.ap_
*.aab

# Java / Dalvik / ART
*.class
*.dex

# Mac
.DS_Store

# C++ / NDK
.externalNativeBuild/
.cxx/

# Other generated / temp folders
captures/
bin/
gen/
out/
.navigation/

# Keystores (SECURITY: Do not commit your keystores!)
*.jks
*.keystore
*.properties

# vscode
.vscode/
